.heroContainer{
    margin-top: 120px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.heroLeft{
    width: 40%;
}

.heroLeft h1{
    font-size: 82px;
    line-height: 72px;
    margin: 0;
}

.containerButtons button{
    margin-right: 24px;
}